# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# production
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.idea/
.vscode/
*.log
*.swp
.history/

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/build/

# Backend specific
static/img/